:root {
  --red-dominant-color: #d41443;
  --default-background: #ffffff;
  --hero-background: #ffb8ca;
  --footer-section-background: #fff5f6;
  --sub-title-color: #ffa5ba;
  --black-color-text: #000000;
  --gray-color-text: #907e82;
  --green-card-color: #c2e297;
  --toffee-card-color: #f0d1a5;
}
