<section class="reviews section">
  <h2 class="visually-hidden">Customer Reviews</h2>

  <div class="single-item container">
    <div>
      <picture class="reviews__picture">
        <source
          type="image/webp"
          srcset="
            ./images/customer-reviews/emily.webp    1x,
            ./images/customer-reviews/emily@2x.webp 2x
          "
        />
        <source
          type="image/png"
          srcset="
            ./images/customer-reviews/emily.png    1x,
            ./images/customer-reviews/emily@2x.png 2x
          "
        />
        <img src="./images/customer-reviews/emily.png" alt="Emily's photo" />
      </picture>

      <div class="reviews__response">
        <div class="reviews__gradient">
          <p class="reviews__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>

        <h3 class="reviews__title">Emily, Los Angeles</h3>
      </div>
    </div>

    <div>
      <picture class="reviews__picture">
        <source
          type="image/webp"
          srcset="
            ./images/customer-reviews/charlotte.webp    1x,
            ./images/customer-reviews/charlotte@2x.webp 2x
          "
        />
        <source
          type="image/png"
          srcset="
            ./images/customer-reviews/charlotte.png    1x,
            ./images/customer-reviews/charlotte@2x.png 2x
          "
        />
        <img
          src="./images/customer-reviews/charlotte.png"
          alt="Charlotte's photo"
        />
      </picture>

      <div class="reviews__response">
        <div class="reviews__gradient">
          <p class="reviews__text">
            Optio modifuges possimus nostrum aspernatur earum corporis
            perspiciatis autem maxime accusantium tempore impedit laborum ad,
            neque sunt!
          </p>
        </div>

        <h3 class="reviews__title">Charlotte, Seattle</h3>
      </div>
    </div>

    <div>
      <picture class="reviews__picture">
        <source
          type="image/webp"
          srcset="
            ./images/customer-reviews/adelaida.webp    1x,
            ./images/customer-reviews/adelaida@2x.webp 2x
          "
        />
        <source
          type="image/png"
          srcset="
            ./images/customer-reviews/adelaida.png    1x,
            ./images/customer-reviews/adelaida@2x.png 2x
          "
        />
        <img src="./images/customer-reviews/adelaida.png" alt="Adelaida's photo" />
      </picture>

      <div class="reviews__response">
        <div class="reviews__gradient">
          <p class="reviews__text">
            Amet consect elit adipisicing . Blanditiis sit, temporibus porro fug
            ame officiis! Tempora ullam dignissimos esse porro accusantium
            dolore tenetur animi? Consectetur elit quo.
          </p>
        </div>

        <h3 class="reviews__title">Adelaida, Chicago</h3>
      </div>
    </div>
  </div>
</section>
