<section class="section products" id="products">
  <div class="container">
    <div class="section-subtitle section__subtitle--position">100% natural</div>
    <h2 class="section-title section__title--position">products</h2>

    <ul class="products__list">
      <li class="products__item">
        <div class="products__card">
          <h3 class="products__title">
            <span class="products__dots"></span>ice cream
          </h3>

          <p class="product__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore
          </p>
        </div>
        <button type="button" class="btn">
          <svg class="btn__icon">
            <use href="./images/products/arrow.svg#icon-arrow-right2"></use>
          </svg>
        </button>
      </li>

      <li class="products__item products__item--color-orange">
        <div class="products__card">
          <h3 class="products__title">
            <span class="products__dots"></span>ice coffee
          </h3>
          <p class="product__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore
          </p>
        </div>
        <button type="button" class="btn">
          <svg class="btn__icon">
            <use href="./images/products/arrow.svg#icon-arrow-right2"></use>
          </svg>
        </button>
      </li>

      <li class="products__item products__item--color-green">
        <div class="products__card">
          <h3 class="products__title">
            <span class="products__dots"></span>milkshakes
          </h3>
          <p class="product__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore
          </p>

          <button type="button" class="btn">
            <svg class="btn__icon">
              <use href="./images/products/arrow.svg#icon-arrow-right2"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
